/*
Color Pallet
tan = #B68D40
cream = #F4EBD0
charcoal = #122620
gold = #D6AD60
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-size: 10px;
    height: 100%;
    background-image: url(pics/background-patterns-cream-texture-wallpaper-preview.jpg);
}



/* Navbar section */

.navcon {
    background: #92640f !important;
}



/* about me section*/

.maintxt {
    font-size: 80px;
    font-family: 'Great Vibes';
    text-align: center;
    color: #e09d1f;
}

.abouttxt {
    font-size: 17px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
}
.subtxt {
    font-size: 50px;
    font-family: 'Great Vibes';
    padding-top: 30px;
    text-align: center;
    color: #e09d1f;
    text-decoration: underline;
}

.name {
    color: #92640f;
    
}

.about, 
.wwd,
.container {
    
    padding: 25px;
}

/* Glow effect on images */

.block {
    position: relative;
    margin: 10% auto;
    width: 50%;
    height: 100%;
    
}

.glow::before, .glow::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #FCC201, #BB890E, #CDA646);
    background-size: 400%;
    width: calc(100% + 2px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 35s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.glow::after {
    filter: blur(150px);
    opacity: 0.8;
}