/*
Color Pallet
tan = #B68D40
cream = #F4EBD0
charcoal = #122620
gold = #D6AD60
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-size: 10px;
    height: 100%;
    background-image: url(pics/background-patterns-cream-texture-wallpaper-preview.jpg);
    background-size: cover;
    background-attachment: fixed;
}



/* Navbar section */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000000;
    top: 0;
}


.navcon {
    background: #b07301 !important;
}

.navlogo {
    width: 150px;

}


/* about me section*/

.maintxt {
    font-size: 6.5rem;
    font-family: 'Great Vibes';
    text-align: center;
    color: #e09d1f;
    text-decoration: underline;
}

.abouttxt {
    font-size: 1.5rem;
    text-align: center;
}

.subtxt {
    font-size: 50px;
    font-family: 'Great Vibes';
    text-align: center;
    color: #e09d1f;
    text-decoration: underline;
}

.name {
    color: #92640f;

}



.about,
.wwd,
.container,
.gal,
.testdiv {
    margin-top: 50px;
    padding-top: 40px;
}

.imgsha {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.conpic {
    width: 60%;
    height: 100%;
}

/* Gallery section*/


.galsec {
    width: 81%;
    margin: 0% auto;
}




/* testimonials */

.revsec {
    width: 70%;
    margin: 0% auto;
}

/* Footer */

/* Main Footer */
footer .main-footer {
    background: #252525;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
    background: #b07301;
    font-size: 20px;
}


.footer-copyright nav ul li a {
    color: #969696;
}



/* Footer Top */
.footer-top {
    background: #252525;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
    display: inline-block;
}

/*==================== 
  Widgets 
====================== */
.widget {
    padding: 20px;
    margin-bottom: 40px;
}

.widget.widget-last {
    margin-bottom: 0px;
}

.widget.no-box {
    padding: 0;
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.widget.subscribe p {
    margin-bottom: 18px;
    font-size: 16px;
}

.widget li a {
    color: #fff;
}

.widget li a:hover {
    color: #aaa;
    text-decoration: none;
}

.widget-title {
    margin-bottom: 20px;
    font-size: 20px;
}

.widget-title span {
    background: #839FAD none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 20%;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.widget .badge {
    float: right;
    background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #fff;
}

ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}

ul.social-footer2 li a:hover {
    background-color: #ff8d1e;
}

ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

.btn {
    background-color: #ff8d1e;
    color: #fff;
}

.btn:hover,
.btn:focus,
.btn.active {
    background: #4b92dc;
    color: #fff;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;

}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    background-color: #3e3e3e;
    color: #fff;
    padding: 9px;
    border-radius: 5px;
}

.linkfoot {
    font-size: 16px;
}