/*
Color Pallet
tan = #B68D40
cream = #F4EBD0
charcoal = #122620
gold = #D6AD60
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-size: 10px
}



/* Navbar section */

.navcon {
    background: #92640f !important;
}



/* about me section*/

.maintxt {
    font-size: 80px;
    font-family: 'Great Vibes';
    text-align: center;
    color: #D6AD60;
}

.abouttxt {
    font-size: 17px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
}
.subtxt {
    font-size: 50px;
    font-family: 'Great Vibes';
    padding-top: 30px;
    text-align: center;
    color: #D6AD60; 
    text-decoration: underline;
}

.name {
    color: #92640f;
    
}

.about, 
.wwd,
.container {
    background: #f8f1da;
    padding: 25px;
}